body{
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/plantilla_background.png);
  background-size: cover;
  background-repeat: repeat;
  color:#000C14;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  background-color: #FFF8EC;
  width: 80vw;
  height: 80vh;
}

.BoxC {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;

}
.Container{
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.main_img_container{
  width: 20%;
  height: 20%;
  object-fit: contain;
  z-index: -1px;
  /* background-color: green; */
}

.image-hover{
  width: 20%;
  height: 20%;
  z-index: 6px;
  /* background-image: url(./assets/plantilla_background.png); */
  background-size: cover;
  transition: background-image .5s ease-in-out;
}

.image-hover:hover{
  object-fit: contain;
  transform: scale(1.1);
}

p {
  font-size: .8rem;
}